body {
  font-family: "Linux Libertine",Georgia,Times,serif;
}

li {
  color : blue;
  list-style-type: none;
}

li.active{
	background:#ffffff;
}

li:hover {
	background: gray;
}
li:hover a {
	color:white;
}


a.active{
	background:#ffffff;
}

a:hover {
	background: gray;
}


.wiki1 {
 margin-top: 0em;
 border: 1px solid blue;
 color: blue;
}

.p1 li {
  display: inline;
}

.p1 a {
 padding: 1em;
}

.p1 {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  float: right;
  margin-left: 10em;
  margin-top: 0em;
}

.p2 li {
  display: inline;
}

.p2 a {
 padding: 1em;
}

.p2 {
  display: inline-block;
   color: #0645ad;
   text-align: center;
   border: 1px solid black;
   float: left;
   margin-top: 2.5em;
   margin-left: 12em;
}

.p3 li {
  display: inline;
}

.p3 a {
 padding: 1em;
}

.p3 {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  margin-top: 1em;
  padding-top: 0em;
  float: right;
  margin: 1em;
}

div#simpleSearch #searchInput {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 13px;
    direction: ltr;
    -webkit-appearance: textfield;
    border: 1px solid black;
}
div#simpleSearch input {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: black;
    border: 1px solid black
}

.wiki2 {
  margin-left: 10em;
  margin-top: 4em;
  border: 1px solid green;
}

.jeux {
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 0.8em 10%;
  background-color: #fbfbfb;
  border:2px solid #77ccff;
  border-left: 10px solid #77ccff;
  overflow: auto;
}

.jeux div {
  float: left;
}

strong {
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.4em;
}

.manette {
   width: 35px;
  height: 35px;
  padding-right: 1em;
  float : left;
}

.para {
  display: block;
  margin: 0;
}

.chara {
  margin: 0.5em 0 1.3em 1.4em;
  float: right;
  width: 200px;
  border:2px solid #ABABAB;
}

.chara img {
  width: 200px;
}
.fond {
  text-align: center;
  background-color: #027CD3;
}
.som {
  font-size: 85%;
  margin-right: 70em;
  border: 1px solid #aaa;
}
.ben {
  padding: 0em;
  border:1px solid black;
}

.fire {
  text-align: center;
  margin: 1em;
  background-color: #8CD780;
}

.ssb {
  text-align: center;
  margin: 1em;
  background-color: #80AED7;
}

.portail {
  margin-left: 12em;
  font-weight: bold;
  text-align: right;
  border:1px solid black;
}

.portail2 {
  margin: 10em;
  font-weight: bold;
  text-align: center;
  border:1px solid black;
}
.portail3 {
margin-right: 10em;
font-weight: bold;
text-align:left;
border:1px solid black;
}

.catego {
   border:1px solid black;
   text-align: center;
}

.catego1 {
   border:1px solid black;
}

.catego2 {
   border:1px solid black;
}

.catego2 a {
 padding: 1em;
}

.all li {
  display: inline;
}

.all {
  border: 1px solid black;
  vertical-align: text-top;
  margin: 6px;
  padding: 5px;
  display: inline-block;
  margin-left: 12em;
}

.wiki3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10em;
  font-size:100%;
  border:1px solid #77ccff;
  background-color: #F7F7F7;
}
